.conteinerPrincipalSobre{
    font-family: 'Raleway', sans-serif;
    color: black;
    
    padding: 10px 20px 30px 20px;
    max-width: 500px;
    height: 550px;
    margin: auto;
    box-shadow: 20px 20px 50px rgb(138, 137, 137); 
    border: solid 1px black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    
    transition-duration: 1s;
    transition-property: all;
}

.conteinerPrincipalSobre:hover{
    box-shadow: 30px 30px 60px black; 

    transition-timing-function: ease;
    transition-delay: 0s;
}